.settings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  align-items: center;
}
.settings-group {
  width: 95%;
  user-select: none;
}
.settings-group .settings-card:nth-of-type(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px 16px 0 0;
}
.settings-group .settings-card:last-child {
  border-radius: 0 0 16px 16px;
}
.settings-group .settings-card:first-of-type:last-child {
  border-radius: 16px;
}
.settings-card {
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  transition: all 0.3s ease;
}
.settings-card p {
  color: white;
}
.settings-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}
.settings-card:hover {
  outline: 2px solid #a057f7;
  transform: translateY(-2px);
  scale: 1.02;
}
.logout-button {
  background-color: #1a1919;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  color: #ef4444;
  transition: all 0.3s ease;
  user-select: none;
}
.logout-button:hover {
  outline: 2px solid #fa5050;
  transform: translateY(-2px);
  scale: 1.02;
  cursor: pointer;
}
