html,
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: "Rowdies", sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 8px;
  font-weight: 100;
}
h1 {
  font-size: 4.236rem;
}
h2 {
  font-size: 2.618rem;
}
h3 {
  font-size: 1.618rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;

  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px #333 inset;
}
.fade-in {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
