html,
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: "Rowdies", sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 8px;
  font-weight: 100;
}
h1 {
  font-size: 4.236rem;
}
h2 {
  font-size: 2.618rem;
}
h3 {
  font-size: 1.618rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
