.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container #app-icon {
  color: white;
  background: #a057f7;
  font-size: 56px;
  padding: 16px;
  border-radius: 50%;
}
.hero-container p {
  color: #99a1af;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.input-group {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  color: #99a1af;
  background-color: #18181b;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
}
.input-group:focus-within {
  outline: 2px solid #a057f7;
  transform: translateY(-2px);
  scale: 1.02;
}
.input-group input {
  border: 0px;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  padding: 8px;
  outline: 0px;
  background: transparent;
  color: white;
}

.login-container button {
  width: 30%;
  background-color: #a057f7;
  padding: 1rem;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 24px;
}
.login-container button:hover {
  transform: translateY(-2px);
  scale: 1.02;
  cursor: pointer;
}

#register-label:hover {
  cursor: pointer;
  color: #fbaf16;
}
#register-label span {
  color: #fbaf16;
}
