.add-button-container {
  position: absolute;
  bottom: 6rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 15%;
}
.add-button {
  background-color: #a057f7;
  align-self: flex-end;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-button:hover {
  outline: 2px solid #502f77;
  transform: translateY(-2px);
  scale: 1.2;
}
.add-button.active {
  transform: rotate(45deg);
}

.add-card {
  background-color: color-mix(in srgb, currentColor 10%, black);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  transition: all 0.3s ease;
}
.add-card:hover {
  outline: 2px solid color-mix(in srgb, currentColor 50%, white);
  transform: translateY(-2px);
  scale: 1.02;
}
.add-card p {
  color: white;
  font-weight: 100;
}
.add-card-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}
