header {
  padding: 24px 8px 16px 8px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px rgb(255 255 255 / 0.2);
}
.title {
  display: flex;
  flex-direction: row;
}
p {
  color: lightgray;
}

.app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbaf16;

  font-size: 32px;

  border-radius: 50%;
}
